# Base URL del middleware
BASE_MIDDLEWARE_URL=http://172.16.10.26:3000/       # URL DEL SERVER DEL MIDDLEWARE
WS_MIDDLEWARE_URL=ws://172.16.10.26:3000/health     # URL DEL LOGIN PARA KIOSKO 
# BASE_MIDDLEWARE_URL=http://192.168.70.64:3000/    # URL DEL SERVER DEL MIDDLEWARE
# WS_MIDDLEWARE_URL=ws://192.168.70.64:3000/health  # URL DEL LOGIN PARA KIOSKO 

BASCULA=B5

PUBLIC_KEY=12345678990000987654321                  # Public key para descifrar comunicarse con la barrera al hacer login

USERNAME=usuario                                    # Usuario de Middleware
APP_MIDDLEWARE=appMidleware                         # App de Middleware