# Base URL del middleware
BASE_MIDDLEWARE_URL=http://172.16.10.26:3000/       # URL DEL SERVER DEL MIDDLEWARE
WS_MIDDLEWARE_URL=ws://172.16.10.26:3000/health     # URL DEL LOGIN PARA KIOSKO 
# BASE_MIDDLEWARE_URL=http://192.168.70.64:3000/    # URL DEL SERVER DEL MIDDLEWARE
# WS_MIDDLEWARE_URL=ws://192.168.70.64:3000/health  # URL DEL LOGIN PARA KIOSKO 

BASCULA=B5

PUBLIC_KEY=12345678990000987654321                  # Public key para descifrar comunicarse con la barrera al hacer login

ACCESS_TOKEN_SECRET=12345678990000                  # Clave para descifrar JSOn de servicios del middleware
JWT_REFRESH_SECRET=12345678990000                   # Clave de refresh cuando sea necesario para descifrar JSOn de servicios del middleware

IS_TEST_MODE=true                                   # Testear la app con un usuario de prueba
TEST_USER=usuarioPrueba                             # Usuario de prueba

USERNAME=usuario                                    # Usuario de Middleware
PASSWORD_MIDDLEWARE=password                        # Password de Middleware
APP_MIDDLEWARE=appMidleware                         # App de Middleware